streamlit
streamlit-lottie
streamlit-option-menu
streamlit-cookies-manager
trycourier
python-dotenv
google-generativeai
numpy
pandas
scikit-learn
langchain-community
whois
bs4
googlesearch-python
unstructured[docx,pdf,image,ppt,json,html,xml,xls,log,csv,tsv,txt,conf,ini,cfg,archive,exe,script]
python-dateutil
pyotp
pyDes
ploty
python-docx
transformers
exifread
replicate
